@model List<LABORATORIO_MVC.Models.Empleado>

@{
    ViewBag.Title = "Listado de Empleados";
}

<h2>Listado de Empleados</h2>

<p>
    <a href="/Empleados/Crear" class="btn btn-primary">Crear nuevo empleado</a>
</p>

<table class="table table-bordered table-striped mt-3">
    <thead>
        <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Fecha Nacimiento</th>
            <th>Puesto</th>
            <th>Acciones</th>

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombres</td>
                <td>@item.Apellidos</td>
                <td>@item.Direccion</td>
                <td>@item.Telefono</td>
                <td>@item.FechaNacimiento.ToShortDateString()</td>
                <td>@item.Puesto</td>

                <td>
                <td>
                    <a href="/Empleados/Editar/@item.Id" class="btn btn-warning btn-sm">Editar</a>

                    <a href="/Empleados/Eliminar/@item.Id"
                       class="btn btn-danger btn-sm"
                       onclick="return confirm('¿Estás seguro de eliminar este empleado?');">
                        Eliminar
                    </a>
                </td>

                </td>

            </tr>
        }
    </tbody>
</table>
